*{
    margin: 0;
    padding: 0;
}

.warp{
    width: 600px;
    margin: 100px auto;
}

input#year {
    width: 77px;
}

input#che_ck {
    width: 75px;
}

.card-body {
    background-color: #eeeeee;
}

.form-group {
    margin-left: 9px;
}

select#month {
    margin-left: 10px;
    border: 1px solid rgb(7, 0, 0);
}

select#date {
    border: 1px solid rgb(7, 0, 0);
}
input#year {
    border: 1px solid rgb(7, 0, 0);
}